* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEBUG */
[class*="col-"] {
    background-color: #006cfa;
    border: solid 1px white;
    min-height: 50px;
    text-align: center;
    align-items: center;
}